.banner {
  width: 100%;
  background-color: $green;

  @media (min-width: $width-tablet) {
    width: auto;
    flex-shrink: 0;
    flex-grow: auto;
  }
}

// .banner__icon {
// }
// .banner__text {
// }
