.break {
  @media (min-width: $width-mobile-only) {
    display: none;
  }
}

.break-mobile-only {
  display: block;

  @media (min-width: $width-mobile-only) {
    display: inline;
  }
}

.break-non-mobile {
  @media (min-width: $width-mobile-only) {
    display: block;
  }
}
