// .catalog {}

.catalog__title {
  margin-top: 26px;
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    margin-top: 36px;
    margin-bottom: 22px;
  }

  @media (min-width: $width-tablet) {
    margin-top: 68px;
    margin-bottom: 25px;
  }
}
