.container {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $width-tablet) {
    max-width: 1220px;
    margin-right: 30px;
    margin-left: 30px;
  }

  @media (min-width: $width-desktop) {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}
