.extra {
  padding-bottom: 34px;

  @media (min-width: $width-tablet) {
    padding-bottom: 76px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 86px;
  }
}

.extra__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra__title {
  position: relative;
  top: -24px;
  left: -20px;
  display: inline-block;
  margin: 0 0 12px;
  padding: 0 20px;

  font-family: "Oswald", "Verdana", sans-serif;

  @include text(24px, 24px, 400, $black);
  white-space: nowrap;

  background-color: $white;

  @media (min-width: $width-mobile-only) {
    top: -30px;
    left: 0;
    margin-bottom: 56px;
    padding: 0 36px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $width-desktop) {
    left: -36px;
  }
}

.extra__list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    flex-basis: 895px;
  }
}

.extra__item {
  padding: 14px 0 18px;
  border-top: 1px solid $gray-205;

  &:last-child {
    border-bottom: 1px solid $gray-205;
  }

  @media (min-width: $width-mobile-only) {
    padding: 26px 38px 28px;
    border-left: 1px solid $gray-205;
    border-right: 1px solid $gray-205;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-left: 0;
    border-right: 0;
  }
}

.extra__table {
  width: 100%;
  display: grid;
  grid-template-areas:
    "name name"
    "pack price";
  row-gap: 14px;
  margin-bottom: 14px;

  @media (min-width: $width-mobile-only) {
    grid-template-areas: "name pack price";
    grid-template-columns: 1fr min-content 55px;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr min-content 94px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 325px 245px 80px;
    margin-bottom: 0;
  }
}

.extra__name {
  display: block;
  grid-area: name;

  font-family: "Oswald", "Verdana", sans-serif;

  @include text(16px, 16px, 400, $black);
  text-transform: uppercase;

  @media (min-width: $width-mobile-only) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra__pack {
  grid-area: pack;
  align-self: end;
  white-space: nowrap;

  @media (min-width: $width-mobile-only) {
    justify-self: end;
  }

  @media (min-width: $width-desktop) {
    justify-self: start;
  }
}

.extra__price {
  grid-area: price;
  justify-self: end;
  align-self: end;

  @media (min-width: $width-desktop) {
    justify-self: start;
  }
}


.extra__button {
  @media (min-width: $width-desktop) {
    max-width: 245px;
  }
}

.extra__banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 895px;
  margin-top: 38px;
  padding: 62px 0 42px;

  background-image: url("../img/background-banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-banner-mobile@2x.jpg");
  }

  @media (min-width: $width-mobile-only) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 68px;
    padding: 64px 90px 74px;

    background-image: url("../img/background-banner-tablet.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-banner-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    flex-direction: column;
    flex-basis: 245px;
    margin: 0;
    padding: 62px 0 42px;

    background-image: url("../img/background-banner-desktop.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-banner-desktop@2x.jpg");
    }
  }
}

.extra__banner-icon {
  align-self: center;
  margin-bottom: 60px;

  @media (min-width: $width-mobile-only) {
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 60px;
  }
}

.extra__banner-text {
  margin: 0;

  @include text(16px, 20px, 400, $white);
  text-align: center;

  @media (min-width: $width-mobile-only) {
    text-align: left;
  }

  @media (min-width: $width-tablet) {
    width: 200px;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    text-align: center;
  }
}
