// .form {}

.form__title {
  margin-top: 26px;
  margin-bottom: 36px;

  @media (min-width: $width-tablet) {
    margin-top: 36px;
    margin-bottom: 54px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 68px;
    margin-bottom: 54px;
  }
}

.form__intro {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Verdana", sans-serif;

  @include text(14px, 18px, 400, $black);
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    width: 60%;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__group {
  display: grid;
  row-gap: 14px;
  margin: 0;
  padding: 0;
  border: 0;

  @media (min-width: $width-tablet) {
    row-gap: 20px;
  }
}

.form__first-group-grid {
  display: grid;
  row-gap: 23px;
  padding: 42px 0;

  @media (min-width: $width-tablet) {
    row-gap: 72px;
    padding: 66px 0 96px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 94px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__group-title {
  position: relative;
  top: -18px;
  left: -20px;
  justify-self: start;
  padding: 0 20px;

  font-family: "Oswald", "Verdana", sans-serif;

  @include text(24px, 26px, 400, $black);

  background-color: $white;

  @media (min-width: $width-mobile-only) {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: start;
    top: -26px;
    left: -36px;
    padding: 0 36px;

    font-size: 36px;
    line-height: 36px;
  }
}

// // Стилизация внутренних элементов
.form__row-input {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 16px;
  align-items: center;

  @media (min-width: $width-tablet) {
    column-gap: 20px;
  }
}

.form__input-email,
.form__input-phone {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form__input-icon-email,
.form__input-icon-phone {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 16px;
}

.form__input-email:focus + .form__input-icon-email,
.form__input-phone:focus + .form__input-icon-phone {
  color: $green;
}

.form__input-email:invalid + .form__input-icon-email,
.form__input-phone:invalid + .form__input-icon-phone {
  color: $status-error;
}

.form__row-checkbox {
  grid-column: 1 / -1;

  @media (min-width: $width-mobile-only) {
    grid-column: span 1;
  }
}

form input:not(.button),
form textarea {
  width: 100%;
  height: 45px;
  padding: 14px;
  border: 0;
  outline: 1px solid $gray-205;
  outline-offset: -1px;
  cursor: pointer;

  font-family: "Oswald", "Verdana", sans-serif;

  @include text(16px, 18px, 400, $gray-68);
  text-transform: uppercase;

  &:hover {
    outline-color: $gray-186;
  }

  &:active,
  &:focus {
    border: 0;
    outline: 2px solid $gray-68;
    outline-offset: -2px;
  }

  &:invalid {
    border: 0;
    outline: 2px solid $status-error;
    outline-offset: -2px;
  }

  &:valid {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}


form input[type="checkbox"],
form input[type="radio"] {
  display: none;
}

form input[type="tel"],
form input[type="email"] {
  padding-right: 50px;
}

form input::placeholder,
form textarea::placeholder {
  opacity: 1;
}

form textarea {
  width: 100%;
  height: 150px;
  margin-top: 8px;
  padding: 10px 14px;
  resize: none;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    height: 174px;
    padding: 10px 20px;
  }
}


.form__label {
  font-family: "Oswald", "Verdana", sans-serif;

  @include text(16px, 18px, 400, $gray-68);
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 28px;
  }
}

.form__label-radio,
.form__label-checkbox {
  position: relative;
  display: block;
  width: auto;
  outline: none;
  padding: 5.5px 0 5.5px 45px;
  color: $black;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $gray-205;

    @media (min-width: $width-tablet) {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $width-tablet) {
    padding-left: 60px;
  }
}

// Псевдоэлементы радио- и чекбоксов
.form__label-radio {
  &::before {
    border-radius: 50%;
  }
}

.form__label-radio:hover,
.form__label-radio:focus,
.form__label-checkbox:hover,
.form__label-checkbox:focus {
  &::before {
    border-color: $gray-186;
  }
}


form input:checked ~ .form__label-radio {
  &::after {
    position: absolute;
    top: 8.25px;
    left: 8.25px;
    content: "";
    width: 13.5px;
    height: 13.5px;
    background-color: $green;
    border-radius: 50%;

    @media (min-width: $width-tablet) {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }
}

form input:checked ~ .form__label-checkbox {
  &::after {
    position: absolute;
    top: 8px;
    left: 6px;
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");

    @media (min-width: $width-tablet) {
      top: 13px;
      left: 11px;
    }
  }
}


// .form__group--cat {}

.form__group--target {
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 21px 20px;
  border-top: 1px solid $gray-205;
  border-bottom: 1px solid $gray-205;

  @media (min-width: $width-tablet) {
    row-gap: 14px;
    width: 100%;
    margin: 0;
    padding: 25px 28px;

    border: 1px solid $gray-205;
  }
}

.form__group--owner {
  padding-bottom: 42px;

  @media (min-width: $width-tablet) {
    padding-bottom: 115px;

    .form__row-input {
      margin-top: 30px;
      margin-bottom: -28px;
    }
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    padding-bottom: 90px;

    .form__row-input {
      margin: 0;
    }
  }
}

.form__group--comment {
  padding-bottom: 38px;

  @media (min-width: $width-tablet) {
    row-gap: 50px;
    padding-bottom: 80px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 85px;
  }
}

.form__group--additional {
  padding-bottom: 38px;

  @media (min-width: $width-mobile-only) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 32px;
    padding-bottom: 72px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding-bottom: 82px;
  }
}

.form__button {
  margin: 20px 0 6px;

  @media (min-width: $width-mobile-only) {
    grid-column-start: 1;
    margin: 22px 0 0;
  }

  @media (min-width: $width-desktop) {
    grid-column-end: 3;
    margin-top: 28px;
  }
}

.form__legend {
  align-self: center;

  @include text(14px, 16px, 400, $black);

  text-align: center;

  @media (min-width: $width-mobile-only) {
    padding-top: 22px;
  }

  @media (min-width: $width-tablet) {
    padding-top: 28px;
    font-size: 16px;
    text-align: left;
  }
}
