.intro {
  display: grid;
  padding: 28px 20px 0;

  background:
    linear-gradient(to bottom, rgba($green, 0.85), rgba($green, 0.85) 300px, $white 300px),
    url("../img/background-mobile.jpg") top center / auto 300px no-repeat;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(to bottom, rgba($green, 0.85), rgba($green, 0.85) 300px, $white 300px),
      url("../img/background-mobile@2x.jpg") top center / auto 300px no-repeat;

    @media (min-width: $width-mobile-only) {
      background: none;
    }
  }

  @media (min-width: $width-mobile-only) {
    grid-template-rows:
      min-content
      min-content
      30px
      40px
      min-content;
    grid-template-columns: 244px 1fr;
    padding: 40px 20px 0;
    background: none;
  }

  @media (min-width: $width-tablet) {
    grid-template-rows:
      min-content
      min-content
      30px
      54px
      min-content;
    padding: 35px 115px 0;
  }

  @media (min-width: $width-desktop) {
    grid-template-rows:
      80px
      min-content
      min-content
      54px
      min-content;
    grid-template-columns: 244px 190px 1fr;
    padding: 22px 0 54px 190px;
  }
}

.intro__title {
  text-align: center;
  color: $white;

  @media (min-width: $width-mobile-only) {
    grid-column: 1 / -1;
    width: 420px;

    text-align: left;

    color: $black;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.intro__slogan {
  margin: 25px 0 30px;
  font-family: "Oswald", "Verdana", sans-serif;

  @include text(14px, 14px, 400, $white);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $width-mobile-only) {
    grid-column: 1 / -1;
    margin: 40px 0 20px;
    font-size: 20px;
    line-height: 20px;

    text-align: left;

    color: $black;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: 50px;
  }
}


.intro__img {
  justify-self: center;

  @media (min-width: $width-mobile-only) {
    width: calc(100% + 40px);
    max-width: 708px;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 3 / 6;
  }

  @media (min-width: $width-tablet) {
    width: calc(100% + 165px);
    max-width: 708px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    left: 20px;
    grid-row: 1 / -1;
    width: 552px;
    height: 500px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.intro__button {
  @media (min-width: $width-mobile-only) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
