.map {
  position: relative;
  height: auto;

  &::before {
    position: absolute;
    top: calc(50% - 27px + 45px);
    left: calc(50% - 29px);
    z-index: 10;
    content: "";
    width: 57px;
    height: 53px;
    background: url("../img/map-marker.png") 50% 50% / 100% no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-marker@2x.png");
    }

    @media (min-width: $width-tablet) {
      top: calc(50% - 54px + 100px);
      left: calc(50% - 56px);
      width: 113px;
      height: 106px;
    }

    @media (min-width: $width-desktop) {
      top: 45px;
      left: auto;
      right: 29%;
    }
  }
}

.map__yandex {
  width: 100%;
  height: 362px;
  margin-bottom: -7px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktopt@2x.jpg");
    }
  }
}

.map__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7px;
  align-items: center;
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 27px 20px;
  background-color: $gray-242;

  @media (min-width: $width-tablet) {
    width: calc(100% + 60px);
    margin: 0 -30px;
    padding: 62px 70px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    z-index: 10;
    width: 570px;
    margin: 95px 0 -290px 110px;
    column-gap: 80px;
    padding: 60px 76px;
    background-color: $white;
  }
}

.map__info--reversed {
  background-color: $white;
}

.map__slogan {
  font-family: "Oswald", "Verdana", sans-serif;

  @include text(16px, 20px, 400, $black);
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.map__place {
  @include text(14px, 20px, 400, $gray-68);
  font-style: normal;

  @media (min-width: $width-mobile-only) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.map__city {
  @media (min-width: $width-tablet) {
    display: block;
    margin-top: 18px;
  }
}
