/* stylelint-disable */
.social__list {
  @include list-reset;
  display: flex;
  width: auto;
  margin: -7px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 22px;
  margin: 7px;

  @media (min-width: $width-tablet) {
    height: 34px;
  }
}

.social__icon {
  width: 25px;
  height: 25px;
  background-color: $gray-102;

  &:hover,
  &:focus {
    background-color: $green;
  }

  &:active {
    background-color: rgba($green, 0.3);
  }

  @media (min-width: $width-tablet) {
    width: 32px;
    height: 32px;
  }
}

.social__icon--vk {
  mask: url("../img/icon-vk.svg") center / 23px 16px no-repeat;
  -webkit-mask: url("../img/icon-vk.svg") center / 23px 16px no-repeat;

  @media (min-width: $width-tablet) {
    -webkit-mask-size: 30px 22px;
  }
}

.social__icon--instagram {
  mask: url("../img/icon-instagram.svg") center / 16px 16px no-repeat;
  -webkit-mask: url("../img/icon-instagram.svg") center / 16px 16px no-repeat;

  @media (min-width: $width-tablet) {
    -webkit-mask-size: 23px 23px;
  }
}

.social__icon--facebook {
  mask: url("../img/icon-facebook.svg") center / 13px 20px no-repeat;
  -webkit-mask: url("../img/icon-facebook.svg") center / 13px 20px no-repeat;

  @media (min-width: $width-tablet) {
    -webkit-mask-size: 15px 30px;
  }
}
