.table-small {
  display: table;
  width: 100%;

  white-space: nowrap;

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.table-small__name {
  display: table-row;
  width: 100%;

  font-family: "Oswald", "Verdana", sans-serif;

  @include text(16px, 16px, 400, $black);
  text-transform: uppercase;

  @media (min-width: $width-mobile-only) {
    display: table-cell;
    width: auto;

    font-size: 20px;
    line-height: 20px;
  }
}

.table-small__pack {
  display: table-cell;
  padding: 14px 0;

  @media (min-width: $width-mobile-only) {
    text-align: right;
  }
}

.table-small__price {
  display: table-cell;
  width: 15%;

  text-align: right;
}

.table-small__button {
  display: table-footer-group;

  @media (min-width: $width-desktop) {
    display: table-cell;
    width: 244px;
  }
}
